@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Vidaloka&display=swap');

.faq-header {
    /* font-family: 'Corben', cursive; */
    font-family: 'Gravitas One', cursive;
    color: black;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 5px;
    margin-right: 5px;
}

.faq {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

a:link {
    text-decoration: none;
  }

