.top-five-form {
    margin: 0 auto; 
    max-width: 50%; 
    margin-bottom: 5%; 
}

.form-select {
    margin-bottom: 5%;
}

.submit-button.btn.btn-secondary {
    background-color: black;
    border-radius: 10px; 
    border-color: black;
    margin-bottom: 3%; 
}

.submit-button.btn.btn-secondary:hover {
    background-color: #f43c6a;
    border-color: #f43c6a;
    opacity: 90%;
}

.top-five-button.btn.btn-secondary {
    background-color: black;
    border-radius: 10px; 
    border-color: black;
    margin-bottom: 3%; 
}

.top-five-button.btn.btn-secondary:hover {
    background-color: #f43c6a;
    border-color: #f43c6a;
    opacity: 90%;
}

.delete-button.btn.btn-danger.btm-sm {
    display: none; 
}

.edit-button {
    margin-top: 5%;
    margin-right: 2%; 
    margin-bottom: 5%; 
}

.final-delete-button {
    display: none;
}

.delete-input-field {
    margin-bottom: 10%; 
}

.menu-icon {
    float: right;
}