@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700;800&display=swap');


.not-signed-in p {
    position: relative;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}

.top-five-form {
    margin: 0 auto; 
    max-width: 70%; 
    margin-bottom: 5%; 
}

.form-select {
    margin-bottom: 5%;
}

.submit-button.btn.btn-secondary {
    background-color: black;
    border-radius: 10px; 
    border-color: black;
    margin-bottom: 3%; 
}

.submit-button.btn.btn-secondary:hover {
    background-color: #f43c6a;
    border-color: #f43c6a;
    opacity: 90%;
}

.top-five-button.btn.btn-secondary {
    background-color: black;
    border-radius: 10px; 
    border-color: black;
    margin-bottom: 3%; 
}

.top-five-button.btn.btn-secondary:hover {
    background-color: #f43c6a;
    border-color: #f43c6a;
    opacity: 90%;
}

.edit-button {
    margin-top: 5%;
    margin-right: 2%; 
    margin-bottom: 5%; 
}

.delete-button.btn.btn-danger.btn-sm {
    background-color: white;
    color: black; 
    border-radius: 10px; 
    border-color: black;
    margin-top: 5%;
    margin-bottom: 3%; 
}

.delete-button.btn.btn-danger.btn-sm:hover {
    background-color: #f43c6a;
    border-color: #f43c6a;
    opacity: 90%;
}

.delete-input-field {
    margin-bottom: 10%; 
}

.menu-icon {
    float: right;
}