@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700;800&display=swap');

.landing-photo {
    position: relative;
    float: right;
    width: 135%;
    margin-top: -5%;
    margin-right: -30px;
    /* margin-right: auto; */
    z-index: 0;
}

/* // with background image */
/* .search-form {
    position: absolute;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 1px;
    text-align: center;
   z-index: 1;
   margin-top: 75%;
   margin-left: auto;
   max-width: 60%;
} */

/* // without background image */
.search-form {
    position: relative;
    /* font-family: 'Big Shoulders Text', cursive; */
    letter-spacing: 1px;
    text-align: center;
   z-index: 1;
   max-width: 100%;
}

.top-five-container {
    position: relative;
    /* font-family: 'Big Shoulders Text', cursive; */
    letter-spacing: 1px;
    text-align: center;
    margin: 0 auto; 
    max-width: 100%; 
    margin-bottom: 5%; 

}

.email-control {
    letter-spacing: 1px;
}

.landing-page-logo {
    font-family: 'Corben', cursive;
    color: black;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    z-index: 1;
    margin-top: 2%;
    margin-left: 5px;
    margin-right: 5px;
}

.search-button.btn.btn-secondary {
    background-color: black;
    border-radius: 10px; 
    border-color: black;
    margin-bottom: 3%;  
    letter-spacing: 1px;
}

.search-button.btn.btn-secondary:hover {
    background-color: #f43c6a;
    border-color: #f43c6a;
    opacity: 90%;
}